:root {
  --bg-btns: rgb(0, 255, 0);
  --bg-thead: #39fa2f7d;
  --bg-modal: rgba(0, 0, 0, 0.527);
  --tbody-tr-nth-child-odd: #ffffff;
  --tbody-tr-nth-child-even: #c4ffb285;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.modal__content {
  overflow: hidden;
  overscroll-behavior-y: contain;
  background-color: red;
  height: 100%;
}