:root {
  --bg-btns: rgb(0, 255, 0);
  --bg-thead: #39fa2f7d;
  --tbody-tr-nth-child-odd: #ffffff;
  --tbody-tr-nth-child-even: #c4ffb285;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}